.qsys_edit/
db/
devplatforms/
incremental_db/
qdb/
top_altera_emif_arch_nf_160_7ucztxi_summary.csv
top.ipregen.rpt
top.qws
ip/
top/
jtag_debug_link.BAK.qsys
jtag_debug_link/
top.sopcinfo
pcie_quartus_files/
*.html
fmax.txt

*~
\?/
\#*\#
*.html_files/
output_files/
*.qws
